:root {
    --sidebar-width: 250px; 
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size:  62.5%; 
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.none {
    display: none !important;
}

.active {
    color: #5ab4f5 !important;
}

@keyframes sideIn{
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0);
    }
}
